recursive-include fastparquet *.thrift
recursive-include fastparquet *.py
recursive-include docs *.rst

include setup.py
include README.rst
include LICENSE
include MANIFEST.in
include requirements.txt

prune docs/_build
